<div class="buffet-card">
  <div class="h1-info">
    <h1>Exibindo o Pedido <%= @order.code %></h1>
  </div>

  <% if user_signed_in? and @same_day_orders.length > 1 %>
    <p class="alert">Você já possui <%= @same_day_orders.length %> eventos agendados ou confirmados para essa mesma data.</p>
  <% end %>
  <dl class="info-list">
    <dt>Nome do Buffet:</dt>
    <dd><%= @order.buffet.name %></dd>

    <dt>Nome do Evento:</dt>
    <dd><%= @order.event.name %></dd>

    <dt>Detalhes do evento:</dt>
    <dd><%= @order.event_details %></dd>

    <dt>Data do Evento:</dt>
    <dd><%= I18n.localize(@order.event_date) %></dd>

    <dt>Quantidade de pessoas:</dt>
    <dd><%= @order.estimated_qtd %></dd>

    <dt>Código:</dt>
    <dd><%= @order.code %></dd>

    <% if @order.out_doors %>
      <dt>Deve ser realizado no endereço:</dt>
      <dd><%= @order.address %></dd>
    <% else %>
      <dt>deve ser realizado no endereço:</dt>
      <dd>No próprio Buffet</dd>
    <% end %>

    <dt>Status do pedido:</dt>
    <dd><%= t(@order.order_status) %></dd>

    <% unless @order.waiting? %>
      <dt>Valor do evento: </dt>
      <dd><%= @order.final_price%></dd>
      <dt>Valor total (com acréscimos e descontos):</dt>
      <dd><%= @order.final_price + @order.extra_tax - @order.discount %></dd>
      <% if @sp_day %>
        <% hour_fine = @order.event.price.sp_extra_hour %>
      <% else %>
        <% hour_fine = @order.event.price.extra_hour %>
      <% end %>
      <p class="alert">Lembrando que há uma multa de <%= hour_fine %> reais para cada hora passada.</p>
    <% end %>

    <dt>Prazo final para confirmação e pagamento:</dt>
    <dd><%= I18n.localize(@order.payment_final_date) if @order.payment_final_date %></dd>

    <dt>Acréscimos:</dt>
    <dd><%= @order.extra_tax %></dd>

    <dt>Descrição do acrésicmo:</dt>
    <dd><%= @order.tax_description %></dd>

    <dt>Descontos:</dt>
    <dd><%= @order.discount %></dd>

    <dt>Descrição do desconto:</dt>
    <dd><%= @order.discount_description %></dd>

    <dt>Forma de pagamento:</dt>
    <dd><%= @order.payment_form %></dd>
  </dl>
</div>

<div class="login-options" id="bottom-button">
  <% if customer_signed_in? and @order.evaluated? %>
    <%= link_to 'Confirmar', confirm_order_path, class: "home-login-button owner" %>
  <% end %>

  <% if customer_signed_in? and (@order.evaluated? or @order.confirmed?) %>
    <%= link_to 'Cancelar', cancel_order_path, class: "home-login-button owner" %>
  <% end %>

  <% if user_signed_in? and @order.confirmed? %>
    <%= link_to 'Cancelar', cancel_order_path, class: "home-login-button owner" %>
  <% end %>
</div>

<% if user_signed_in? and (@order.waiting? || @order.evaluated?) %>
  <%= render "evaluate_form" %>
<% end %>