<h1>Exibindo os pedidos para o buffet <%= @buffet.name %></h1>

<div class="order-title"><h2 class="order-type">Pedidos pendentes</h2></div>

<div class="event-card-container pending-events">
  <% @pending_orders.each do |order| %>
    <div class="event-card">
      <div>
        <h2 class="event-card-title"><strong>Data do Evento: </strong><%= I18n.localize(order.event_date) %></h2>
        <div class="event-card-description"><strong>Código: </strong><%= order.code %></div>
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <div><%= link_to 'Mostrar Detalhes', order_path(order.id), class: 'show-details-button' %></div>
          <div style="font-size: 30px;">⌛</div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="order-title"><h2 class="order-type">Demais pedidos</h2></div>

<div class="event-card-container general-events">
  <% @general_orders.each do |order| %>
    <div class="event-card">
      <div>
        <h2 class="event-card-title"><strong>Data do Evento: </strong><%= I18n.localize(order.event_date) %></h2>
        <div class="event-card-description"><strong>Código: </strong><%= order.code %></div>
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <div><%= link_to 'Mostrar Detalhes', order_path(order.id), class: 'show-details-button' %></div>
          <% if order.evaluated? %>
            <div style="font-size: 30px;">📋</div>
          <% elsif order.confirmed? %>
            <div style="font-size: 30px;">✅</div>
          <% elsif order.canceled? %>
            <div style="font-size: 30px;">🚫</div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>